@font-face {
    font-family: 'Argon';
    src: url('@/assets/fonts/MonaspaceArgon-Regular.woff2') format('woff2'),
         url('@/assets/fonts/MonaspaceArgon-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: 100%;
  }

  @font-face {
    font-family: 'Argon';
    src: url('@/assets/fonts/MonaspaceArgon-WideRegular.woff2') format('woff2'),
         url('@/assets/fonts/MonaspaceArgon-WideRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: 200%;
  }

  @font-face {
    font-family: 'Argon';
    src: url('@/assets/fonts/MonaspaceArgon-Bold.woff2') format('woff2'),
         url('@/assets/fonts/MonaspaceArgon-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-stretch: 100%;
  }

  @font-face {
    font-family: 'Argon';
    src: url('@/assets/fonts/MonaspaceArgon-Italic.woff2') format('woff2'),
         url('@/assets/fonts/MonaspaceArgon-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-stretch: 100%;
  }

  @font-face {
    font-family: 'Argon';
    src: url('@/assets/fonts/MonaspaceArgon-BoldItalic.woff2') format('woff2'),
         url('@/assets/fonts/MonaspaceArgon-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-stretch: 100%;
  }